<% header = "#{link_to('All Lists', lists_path)} &raquo; #{link_to(@list.name, list_path(@list))} &raquo; Edit".html_safe %>
<%= render 'shared/content_title', title: header %>
<%= render 'shared/errors', obj: @list %>
<%= render 'form' %>

<div class='span8 well'>
  <h4>Users with access to this list</h4>
  <% @list.users.each do |user| %>
    <ul>
      <li><%= user.username %></li>
    </ul>
  <% end %>

  <%= link_to "Add/Remove users for this list", new_list_list_user_path(@list), class:'btn btn-primary' %>
</div>

