<%= render 'shared/content_title', title: "Edit List" %>
<%= render 'shared/errors', obj: @list %>
<%= render 'form' %>

<div class='span8 well'>
  <h4>Users with access to this list</h4>
  <% @list.users.each do |user| %>
    <ul>
      <li><%= user.username %></li>
    </ul>
  <% end %>

  <%= form_tag @list, method: 'patch' do %>
    <div class='control-group'>
      <%= label_tag :user %>
      <%= text_field_tag :user %>
    </div>
    <%= submit_tag "Add user to this list", class:'btn btn-primary' %>
  <% end %>
</div>
