<%= render 'shared/content_title', title: @list.name %>

<!--show item-->
<% @list.items.each do |item| %>
  <div class='span8 well'>
    <p><%= item.name %></p>
    <p>added by <%= link_to item.creator.username, user_path(item.creator) %></p>
    
    <% if item.completed_by.nil? %>
      <%= link_to complete_list_item_path(item.list, item), method: 'post' do %>
        <div class='btn btn-success nav-item'>
          <i class = 'icon-ok'></i>
          Mark complete
        </div>
      <% end %>
    <% end %>
    <% if !item.completed_by.nil? %>
      <i class = 'icon-ok'></i>
      Completed by <%= link_to item.completer.username, user_path(item.completed_by) %>
    <% end %>
  </div>
<% end %>

<!--new item-->
<div class='span8 well'>
  <%= form_for [@list, @item] do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Add item", class:'btn btn-primary' %>
  <% end %>  
</div>
